header.header_2
	.container
		.row
			.col-lg-6
				a(href="index.html")
					.block.menu
						h2 MOTUL Oil Selector 
							span Chọn dầu nhớt
			.col-lg-3.col-6
				a(href="list-oil.html")
					.block.menu
						p Danh sách sản phẩm
			.col-lg-3.col-6
				a(href="system.html")
					.block.menu
						p Tìm cửa hàng