section.distribution-system
	.container
		h1
			span TÌM 
			| CỬA HÀNG
		.row.box-search-map
			.col-lg-5
				.form-group
					input(type="text" placeholder="Tìnm địa chỉ")
				.form-group
					select#city(name="name-city")
						option(value="0") Chọn tỉnh/thành phố
						option(value="1") Hồ Chí Minh
						option(value="2") Lào Cai
						option(value="3") Biên Hòa
				.form-group
					select#district(name="district")
						option(value="0") Chọn quận/huyện
						option(value="1") Quận 1
						option(value="2") Quận 2
						option(value="3") Quận 3
				.box-filter
					h5 LỌC KẾT QUẢ
					.form-group.radio
						label(for="car") Xe Ô Tô
							input#car(hidden type="radio" name="radio" checked="checked")
							span.checkmark
						label(for="moto") Xe Máy
							input#moto(hidden type="radio" name="radio")
							span.checkmark
				.show-filter
					ul.list-address
						li.item
							p.name VINMART KHÁNH HỘI
							p.address Khu thể thao, công viên Khánh Hội, đường 48, phường 3
							p.phone 18006968
						li.item
							p.name VINMART KHÁNH HỘI
							p.address Khu thể thao, công viên Khánh Hội, đường 48, phường 3
							p.phone 18006968
						li.item
							p.name VINMART KHÁNH HỘI
							p.address Khu thể thao, công viên Khánh Hội, đường 48, phường 3
							p.phone 18006968
						li.item
							p.name VINMART KHÁNH HỘI
							p.address Khu thể thao, công viên Khánh Hội, đường 48, phường 3
							p.phone 18006968
						li.item
							p.name VINMART KHÁNH HỘI
							p.address Khu thể thao, công viên Khánh Hội, đường 48, phường 3
							p.phone 18006968
						li.item
							p.name VINMART KHÁNH HỘI
							p.address Khu thể thao, công viên Khánh Hội, đường 48, phường 3
							p.phone 18006968
			.col-lg-7
				#map