extends _layout/_layout_2.pug

block var
	- var title = 'Phiên Bản Xe'
	- var bodyClass = 'car-version-page'
block main
	section.car-version
		.container
			.row
				//- MENU BÊN TRÁI
				.col-lg-3
					include ../components/nav-left/nav-left.pug
				//- DANH SÁCH XE HƠI
				.col-lg-9
					.block.text-center.mt-mb-10
						.brand
							p Thương hiệu
							h3 TOYOTA
						.quantity
							p Mẫu xe
							h3 140
					.block.item-detail.mt-18
						.table-car_version
							table.table-pc
								tr
									th Phiên bản xe
									th Năm sản xuất
									th Động cơ
									th Hệ dẫn động
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
							.table-mb
								-for(i=0; i<5;i++)
									.row.list-item
										.col-6.item
											a(href="detail-oil.html")
												h5 Phiên bản xe
												p ACV30
										.col-6.item
											a(href="detail-oil.html")
												h5 Động cơ
												p 2.4 2AZ-FE VVT-I
										.col-6.item
											a(href="detail-oil.html")
												h5 Năm sản xuất
												p 2002-2006
										.col-6.item
											a(href="detail-oil.html")
												h5 Hệ dẫn động
												p 2WD