extends _layout/_layout_2.pug

block var
	- var title = 'Phiên Bản Xe'
	- var bodyClass = 'car-version-page'
block main
	section.car-version
		.container
			.row
				//- MENU BÊN TRÁI
				.col-lg-3
					include ../components/nav-left/nav-left.pug
				//- DANH SÁCH XE HƠI
				.col-lg-9
					.block.text-center
						.brand
							p Thương hiệu
							h3 TOYOTA
						.quantity
							p Mẫu xe
							h3 140
					.block.item-detail.mt-18
						.table-car_version
							table
								tr
									th Phiên bản xe
									th Năm sản xuất
									th Động cơ
									th Hệ dẫn động
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD
								//- SẢN PHẨM 1
								tr
									td
										a(href="detail-oil.html") ACV30
									td
										a(href="detail-oil.html") 2002-2006
									td
										a(href="detail-oil.html") 2.4 2AZ-FE VVT-I
									td
										a(href="detail-oil.html") 2WD