extends _layout/_layout_2.pug

block var
	- var title = 'Chi Tiết Dầu Nhớt'
	- var bodyClass = 'detail-oil-page'
block main
	section.detail-oil
		.container
			.row
				//- MENU BÊN TRÁI
				.col-lg-3
					include ../components/nav-left/nav-left.pug
				//- DANH SÁCH XE HƠI
				.col-lg-9
					.block.text-center.mt-mb-10
						.brand-detail
							p Mẫu xe
							ul
								li TOYOTA
								li 86
						.info-car-detail
							ul.list-1
								li.item Phiên bản Xe
								li.item Năm sản xuất
								li.item Động Cơ
								li.item Hệ Dẫn Động
							ul.list-2
								li.item ZN6
								li.item 2020
								li.item 24.4 to 31.4
								li.item 2WD A / T
					.block.item-detail.mt-18
						h3.name-catalogs Dầu nhớt động cơ
						.info-product
							ul
								li
									h5 API tiêu chuẩn:
									p SN 0W-20
								li
									h5 Bao bì:
									p 1L, 0.8L
						.row.list-item.no-gutters
							-for(i=0;i<3;i++)
								.col-lg-4.col-6.item
									a(href="#")
										figure
											figcaption
												h5 Tiêu chuẩn 1
												p H-TECH100PLUS_0W20
											.box-img
												img(src="https://motulvietnam.com/Upload/Product/b7ceda26-99d5-490b-8f4d-c40a9830a653/RS%20-%2053%20-%20300V%20FACTORY%20LINE%20ROAD%20RACING%2010W40%2012X1L.png", alt="", srcset="")
					.block.item-detail.mt-18
						h3.name-catalogs Dầu nhớt số sàn
						.info-product
							ul
								li
									h5 Designated oil:
									p SN 0W-20
								li
									h5 Bao bì:
									p 1L, 0.8L
						.row.list-item.no-gutters
							.col-lg-4.col-6.item
								a(href="#")
									figure
										figcaption
											h5 Tiêu chuẩn 1
											p H-TECH100PLUS_0W20
										.box-img
											img(src="https://motulvietnam.com/Upload/Product/b7ceda26-99d5-490b-8f4d-c40a9830a653/RS%20-%2053%20-%20300V%20FACTORY%20LINE%20ROAD%20RACING%2010W40%2012X1L.png", alt="", srcset="")