extends _layout/_layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'home-page'

block main
	.map-wrapper
		.container
			.row
				.col-lg-4
					.map-filter
						input#searchmap(type="text")
					#map-list
						p test
				.col-lg-8
					#map(style="min-height: 600px")

	//- #video