extends _layout/_layout_2.pug

block var
	- var title = 'Motul Oil'
	- var bodyClass = 'Motul Oil'

block main
	section.motul-oil
		.container
			.block.size-9
				.row
					.col-md-7.col-sm-12.box-content
						img(src="./img/img-banner-mobile.png", alt="")
						p Mỗi dòng xe đều cần dầu nhớt chuyên dụng để phát huy tối đa công suất vận hành của động cơ.
						p * Chọn thông tin của xe để tìm kiếm sản phẩm dầu nhớt MOTUL thích hợp nhất cho xe của bạn.
						.box-title
							a(href="list-car.html")
								span Chọn dầu nhớt
								h1 DẦU NHỚT
									br
									|XE HƠI
								h5 Danh sách sản phẩm
					.col-md-5
						.swiper-container.swiper-BannerCar
							.swiper-wrapper
								.swiper-slide
									figure
										img(src="./img/2.png", alt="", srcset="")
								.swiper-slide
									figure
										img(src="./img/3.png", alt="", srcset="")