extends _layout/_layout.pug

block var
	- var title = 'Danh Sách Sản Phẩm'
	- var bodyClass = 'list-product-page'
block main
	.container
		.row
			.col-lg-3
				include ../components/nav-left/nav-left.pug