.list-oil {
	.list-item {
		padding     : 0 20px !important;
		margin-left : 0;
		margin-right: 0;

		.item {
			margin-top: 50px;

			a {
				display: flex;
				height : 100%;

				figure {
					display       : flex;
					height        : 100%;
					flex-direction: column;

					.box-img {
						margin-top: auto;

						img {
							max-width : 172px;
							max-height: 172px;
							object-fit: cover;
						}
					}

					figcaption {
						margin-bottom: 10px;

						h5 {
							position    : relative;
							text-align  : center;
							font-size   : 14px;
							color       : #353535;
							word-break  : break-word;
							padding-left: 35px;

							&:before {
								content          : '';
								position         : absolute;
								background-image : url(../img/icons/next-arrows.png);
								background-repeat: no-repeat;
								background-size  : cover;
								top              : 14px;
								left             : 0;
								width            : 26px;
								height           : 26px;
								transform        : translateY(-50%);
							}
						}
					}

					.box-img {
						img {
							display: block;
							margin : 0 auto;
						}
					}
				}
			}
		}
	}
}

.list-car {
	list-style: none;
	padding   : 40px;

	.item {
		padding    : 0 0 28px 0;
		user-select: none;

		&:last-child {
			padding: 0;
		}

		a {
			position    : relative;
			font-size   : 18px;
			color       : #000000;
			padding-left: 40px;

			&::before {
				content          : '';
				position         : absolute;
				background-image : url(../img/icons/next-arrows.png);
				background-repeat: no-repeat;
				background-size  : cover;
				top              : 50%;
				left             : 0;
				width            : 26px;
				height           : 26px;
				transform        : translateY(-50%);
			}
		}
	}
}

.note {
	margin-top: 30px;

	p {
		font-family: 'SEGOEUI';
		text-align : justify;
		font-size  : 18px;
		color      : #707070;
	}
}

.name-catalogs {
	padding      : 20px 0 20px 80px;
	font-size    : 18px;
	color        : #ED1D24;
	border-bottom: 5px solid #ED1D24;
}

.detail-oil {

	.info-product {
		padding: 40px 0 0 80px;

		ul {
			list-style          : none;
			padding-inline-start: 0;

			li {
				width    : 100%;
				display  : flex;
				flex-wrap: wrap;

				h5 {
					flex     : 0 0 20%;
					max-width: 20%;
					color    : #ED1D24;
				}

				p {
					flex     : 0 0 80%;
					max-width: 80%;
					color    : #353535;
				}

				p,
				h5 {
					font-size  : 14px;
					font-weight: 700;
					display    : inline-block;
				}
			}
		}
	}

	.list-item {
		padding-bottom: 105px;

		.item {
			padding   : 0 65px;
			margin-top: 40px;

			figure {
				figcaption {
					padding-bottom: 25px;

					h5,
					p {
						font-size  : 14px;
						font-weight: 700;
					}

					h5 {
						color: #ED1D24;
					}

					p {
						color: #353535;
					}
				}

				.box-img {
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

.brand,
.quantity {
	display        : flex;
	align-items    : center;
	justify-content: center;
	flex           : 0 0 50%;
	max-width      : 50%;
	height         : 160px;

	p {
		text-align : center;
		color      : #ED1D24;
		font-size  : 18px;
		font-weight: 700;

		flex-basis  : 0;
		flex-grow   : 1;
		padding-left: 30px;
	}

	h3 {
		font-size  : 30px;
		color      : #000000;
		font-weight: 700;


		flex-basis   : 0;
		flex-grow    : 1;
		word-break   : break-word;
		padding-right: 20px;
	}
}

.brand {
	border-right: 5px solid #ED1D24;
}

.car-version {
	.table-car_version {

		.table-pc {
			width: 100%;

			tr {
				&:first-child {
					border-bottom: 5px solid #ED1D24;
				}

				th {
					text-align : center;
					padding    : 20px 25px 20px 0;
					color      : #ED1D24;
					font-size  : 18px;
					font-weight: 700;

					&:last-child {
						padding: 0;
					}
				}

				td {
					position  : relative;
					padding   : 10px 0;
					text-align: center;
					font-size : 18px;

					a {
						color: #353535;
					}

					&:first-child {
						&::before {
							content          : '';
							position         : absolute;
							background-image : url(../img/icons/next-arrows.png);
							background-repeat: no-repeat;
							background-size  : cover;
							top              : 50%;
							left             : 40px;
							width            : 18px;
							height           : 18px;
							transform        : translateY(-50%);
						}
					}
				}
			}

		}

		.table-mb {
			display: none;
		}
	}

}

.detail-oil {

	.brand-detail,
	.info-car-detail {
		display        : flex;
		align-items    : center;
		justify-content: center;
		flex           : 0 0 50%;
		max-width      : 50%;
		height         : 172px;

	}

	.brand-detail {
		border-right: 5px solid #ED1D24;

		p {
			flex     : 0 0 50%;
			max-width: 50%;


			text-align  : center;
			flex-basis  : 0;
			flex-grow   : 1;
			padding-left: 30px;
			font-size   : 18px;
			color       : #ED1D24;
			font-weight : 700;
		}

		ul {
			padding      : 0;
			padding-right: 30px;
			flex         : 0 0 50%;
			max-width    : 50%;
			width        : 100%;
			list-style   : none;
			flex-basis   : 0;
			flex-grow    : 1;
			word-break   : break-word;

			li {
				font-size  : 30px;
				color      : #000000;
				font-weight: 700;
				background : transparent;

				&:first-child {
					max-height: 100px;
					overflow  : hidden;
				}
			}
		}
	}

	.info-car-detail {

		.list-1,
		.list-2 {
			list-style          : none;
			padding-inline-start: 30px;

			.item {
				font-size  : 16px;
				font-weight: 700;
				padding    : 8px 0;
			}
		}

		.list-1 {
			flex     : 0 0 40%;
			max-width: 40%;

			.item {
				color: #ED1D24;
			}
		}

		.list-2 {
			flex     : 0 0 60%;
			max-width: 60%;

			.item {
				color: #000;
			}
		}
	}
}


@media(max-width: 1024px) {
	.name-catalogs {
		padding      : 5px 0;
		text-align   : center;
		font-size    : 16px;
		border-bottom: 3px solid #ED1D24;
	}

	.list-car {
		padding: 0;

		.item {
			margin-bottom: 0;
			padding      : 15px 0 15px 10px;

			a {
				font-size   : 14px;
				padding-left: 25px;

				&::before {
					width : 15px;
					height: 15px;
				}
			}

			&:last-child {
				padding: 15px 0 15px 10px;
			}

			&:nth-child(2n) {
				background: #F2F2F2;
			}
		}
	}

	.note {
		margin-top: 22px;

		p {
			font-size: 14px;
		}
	}

	.car-version {
		.table-car_version {

			.table-pc {
				width: 100%;

				tr {
					&:first-child {
						border-bottom: 3px solid #ED1D24;
					}
				}
			}
		}
	}

	.list-oil {
		.list-item {
			padding: 0 !important;

			.item {
				margin-top: 30px;

				a {
					figure {
						figcaption {
							margin-bottom: 10px;

							h5 {
								font-size   : 12px;
								padding-left: 0;

								&:before {
									content: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.brand,
	.quantity {
		flex     : 0 0 100%;
		max-width: 100%;
		height   : 90px;
	}

	.brand {
		border-right : 0;
		border-bottom: 3px solid #ED1D24;
	}

	.quantity,
	.brand {

		p {
			font-size : 12px;
			margin-top: 5px;

		}

		h3 {
			font-size: 18px;

		}
	}

	.detail-oil {

		.brand-detail,
		.info-car-detail {
			flex     : 0 0 100%;
			max-width: 100%;
		}


		.brand-detail {
			border-right : 0;
			border-bottom: 3px solid #ED1D24;
			height       : 85px;

			p {
				flex     : 0 0 50%;
				max-width: 50%;


				text-align  : center;
				flex-basis  : 0;
				flex-grow   : 1;
				padding-left: 30px;
				font-size   : 12px;
			}

			ul {
				padding      : 0;
				padding-right: 30px;
				flex         : 0 0 50%;
				max-width    : 50%;

				li {
					font-size: 18px;

					&:first-child {
						max-height: 100px;
						overflow  : hidden;
					}
				}
			}
		}

		.info-car-detail {
			padding: 10px;
			height : unset;

			.list-1,
			.list-2 {
				flex                : 0 0 50%;
				max-width           : 50%;
				padding-inline-start: 10px;

				.item {
					text-align : center;
					padding    : 5px 0;
					font-size  : 14px;
					font-weight: 400;
				}
			}
		}

		.info-product {
			padding: 20px 15px 0;

			ul {
				li {
					h5 {
						flex     : 0 0 50%;
						max-width: 50%;
					}

					p {
						flex     : 0 0 50%;
						max-width: 50%;
					}
				}
			}
		}

		.list-item {
			padding-bottom: 35px;
			padding-left  : 0px;
			margin-left   : 0px;
			margin-right  : 0px;

			.item {
				padding: 30px 15px 0;

				figure {
					figcaption {
						padding-bottom: 25px;

						h5,
						p {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.car-version {
		.table-car_version {
			padding: 0 15px;

			.table-pc {
				display: none;
			}

			.table-mb {
				display: block;

				.list-item {
					margin-left : -15px;
					margin-right: -15px;
					padding     : 20px 0;

					.item {
						padding-bottom: 15px;
						padding       : 0 15px;

						h5 {
							color      : #ED1D24;
							font-size  : 14px;
							font-weight: 700;
						}

						p {
							font-size: 14px;
							color    : #353535;
						}

						&:nth-child(2),
						&:nth-child(1) {
							padding-bottom: 15px;
						}
					}

					&:nth-child(2n) {
						background: #F2F2F2;
					}
				}
			}
		}
	}
}