.motul-oil {
	.swiper-BannerCar {
		margin-left : -150px;
		margin-right: -120px;
	}

	.box-content {
		padding: 50px 0 50px 70px;

		p {
			font-size : 18px;
			color     : #000;
			margin-top: 30px;
			text-align: justify;

			&:first-child {
				margin-top: 0;
			}

			&:nth-child(2) {
				margin-right: 15%;
			}
		}

		.box-title {
			margin          : 50px 30% 0 0;
			display         : flex;
			flex-wrap       : wrap;
			padding         : 15px 10px;
			border          : 5px solid #000;
			background-image: url(../img/bg-box-banner.png);

			a {
				width    : 100%;
				flex-wrap: wrap;
				display  : flex;

				h1 {
					flex       : 0 0 90%;
					max-width  : 90%;
					font-size  : 45px;
					font-weight: 700;
					color      : #000;
				}

				span {
					font-size        : 14px;
					font-weight      : 700;
					color            : #ED1D24;
					display          : inline-block;
					text-align       : center;
					flex             : 0 0 10%;
					max-width        : 10%;
					-webkit-transform: rotate(-180deg);
					-moz-transform   : rotate(-180deg);
					-ms-transform    : rotate(-180deg);
					-o-transform     : rotate(-180deg);
					transform        : rotate(-180deg);
					writing-mode     : vertical-rl;
					text-orientation : sideways;
				}

				h5 {
					position       : relative;
					text-align     : right;
					padding-right  : 40px;
					justify-content: flex-end;
					flex           : 0 0 100%;
					max-width      : 100%;
					color          : #ED1D24;
					font-size      : 14px;

					&::after {
						content          : '';
						position         : absolute;
						background-image : url(../img/icons/next-arrows.png);
						background-repeat: no-repeat;
						background-size  : cover;
						top              : 50%;
						right            : 0;
						width            : 26px;
						height           : 26px;
						transform        : translateY(-50%);
					}
				}
			}

		}
	}
}