.list-products-oil {
	.name-catalogs {
		padding      : 20px 0 20px 82px;
		font-size    : 18px;
		color        : #ED1D24;
		border-bottom: 5px solid #ED1D24;
	}

	.list-item {
		padding     : 0 20px !important;
		margin-left : 0;
		margin-right: 0;

		.item {
			margin-top: 50px;

			figure {
				figcaption {
					margin-bottom: 10px;

					h5 {
						position  : relative;
						text-align: center;
						font-size : 14px;
						color     : #353535;

						&:before {
							content          : '';
							position         : absolute;
							background-image : url(../img/icons/next-arrows.png);
							background-repeat: no-repeat;
							background-size  : cover;
							top              : 50%;
							left             : 13px;
							width            : 26px;
							height           : 26px;
							transform        : translateY(-50%);
						}
					}
				}

				.box-img {
					img {
						display: block;
						margin : 0 auto;
					}
				}
			}
		}
	}
}

@media(max-width: 1024px) {
	.list-products-oil {
		.name-catalogs {
			padding      : 5px 0;
			text-align   : center;
			font-size    : 16px;
			border-bottom: 3px solid #ED1D24;
		}

		.list-item {
			.item {
				figure {
					figcaption {
						h5 {
							font-size: 12px;

							&:before {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}