aside
	.block.text-center
		.box-title-nav
			h3 XE HƠI
			p Tên thương hiệu
	.block.mt-18
		form(action="search.html")
			.box-search
				span Tìm tên xe hơi
				.form-group
					input(type="text" placeholder="Tìm...")
					button
						img(src="./img/icons/icon_search.png", alt="", srcset="")
	a.back-link(href="index.html")
		.block.mt-18.back-button Quay Lại