block var

doctype html

html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		title #{title}
	body(class=bodyClass)
		#fb-root

		//- preloading screen
		include _loading
		//- end preloading screen

		//- main content
		block header
			include ../../components/_global/header_1.pug
		main
			block main
		block footer
			include ../../components/_global/footer.pug
		//- end main content
		
		//- scripts
		include _scripts
		//- end scripts
		script.
			var markers = [];
			var map = null;
			var inputLocations = [{
				lat: 10.763806,
				lng: 106.691302,
				name: "HO CHI MINH",
				address: "166A Trần Hưng Đạo ,P.Nguyễn Cư Trinh, Quận 1 ,TP. HCM",
				phone: "(+028) 3606 8688",
				image: "./img/icons/address.png"
			}, {
				lat: 10.776201,
				lng: 106.687059,
				name: "Bảo Tàng Chứng Tích Chiến Tranh",
				address: "28 Võ Văn Tần, P.6, Quận 3, TP. Hồ Chí Minh, Việt Nam",
				phone: "+84 28 3930 5587",
				image: "./img/icons/address.png"
			}, {
				lat: 11.234336,
				lng: 106.650274,
				name: "Location3",
				address: "Bình Thạnh, Hồ Chí Minh, Việt Nam",
				phone: "+84 28 3930 5587",
				image: "./img/icons/address.png"
			}];